/* 
General
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

section{
  width: 80%;
  margin: 0 auto;
}

.container{
  margin: 0 auto;
  width: 100%;
  background-color: #f6f8f9;
}

ul{
  list-style: none;
  margin: auto;
  padding: 40px 0px;
}
li{
  padding: 10px;
  
}

/* 
Header
*/

.logo{
  background-color: white;
}
.logo img {
  vertical-align: middle;
  padding-left: 15px;
}

.logo span{
  vertical-align: middle;
  font-size: 50px;
  font-weight:bolder;
  
}

/* 
Main
*/

  .buttonspace{
    padding-top: 50px;
  }

  .buttonspace div{
  padding: 20px;
  border-radius: 5px 5px 0px 0px;
  background-color: white;
  }
  
  .buttonstyle{
    padding: 6px;
    border-radius: 10%;
    
  }
  #butt-one{
    margin-left: 50px;
    color: white;
    background-color: #47adf1;
    border:1px solid  #47adf1;
  }
  #butt-two{
    color: #c7cdd2;
    background-color: white;
    border:1px solid  #c7cdd2;
  }

  .todolist{
    padding-top: 2px;
    padding-bottom: 100px;
    
  }

  .todolist div{
    border-radius: 0px 0px 5px 5px;
    background-color: white;
  }

  .mainmenu{
    color: #434750;
    font-weight:bold;
    font-size: 25px;
    padding-top: 40px;
  }
  .mainmenu::before{
    content:"\1F783";
    margin-left: 67px;
    padding-right: 5px;
  }

  .secondarytext{
    color: #434750;
    font-size: 20px;
    font-weight: 500;
    padding-top: 20px;
  }

  .stylebefore::before{
    margin-left: 67px;
    margin-right: 15px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 10px;
    padding: 5px;
    width: fit-content;
  }


  .positive::before{
    content:"\2714";
    color:  #5dbda4;
    border: 1px solid #5dbda4;
  }

  .negative::before{
    content:"\2716";
    color:  #ff0000;
    border: 1px solid #ff0000;
  }

  .taskstyle::after{
    margin-left: 10px;
    padding: 7px;
    border-radius: 15px;
    font-size: 15px;
    color: white;
  }

  .editorial::after{
    content:"Editorial";
    background-color: #45abea;
    }
  
  
  .goals::after{
    content:"Q1 Goals";
    background-color: #9c72e4;
    }

  .recruiting::after{
    content:"Recruiting";
    background-color: #64c0a9;
    }

  .mobile::after{
    content:"Mobile";
    background-color: #f29e33;
    }

  .website::after{
    content:"Website";
    background-color: #d863a1;
    }

  .sales::after{
    content:"Sales";
    background-color: #b0c926;
    }