/* 
General
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main{
  height: 2000px;
}

section{
  width: 60%;
  margin: 0 auto;
}

.container{
  margin: 0 auto;
  width: 100%;
  background-color: #f6f8f9;
}

/* 
Header
*/

.logo{
  background-color: white;
}
.logo img {
  vertical-align: middle;
  padding-left: 15px;
}

.logo span{
  vertical-align: middle;
  font-size: 50px;
  font-weight:bolder;
  
}

/* 
Main
*/

  .buttonspace{
    padding-top: 100px;
  }

  .buttonspace div{
  padding: 20px;
  border-radius: 5px 5px 0px 0px;
  background-color: white;
  }
  
  #butt-one{
    padding: 6px;
    margin-left: 50px;
    color: white;
    background-color: #47adf1;
    border:1px solid  #47adf1;
    border-radius: 10%;
  }
  #butt-two{
    padding: 6px;
    color: #c7cdd2;
    background-color: white;
    border:1px solid  #c7cdd2;
    border-radius: 10%;
  }

  .todolist{
    padding-top: 2px;
  }

  .todolist div{
    border-radius: 0px 0px 5px 5px;
    background-color: white;
  }

  .mainmenu{
    color: #434750;
    font-weight:bold;
    font-size: 25px;
    padding-top: 40px;
  }
  .mainmenu::before{
    content:"\1F783";
    margin-left: 67px;
    padding-right: 5px;
  }

  .secondarytext{
    color: #434750;
    font-size: 20px;
    font-weight: 500;
    padding-top: 15px;
  }

  .positive::before{
    content:"\2714";
    color:  #5dbda4;
    margin-left: 67px;
    margin-right: 15px;
    border: 1px solid #5dbda4;
    border-radius: 50%;
    font-weight: bold;
  }

  .negative::before{
    content:"\2A2F";
    color:  #ff0000;
    margin-left: 67px;
    margin-right: 15px;
    border: 1px solid #ff0000;
    border-radius: 50%;
    font-weight: bold;
  }

  .editorial::after{
    content:"Editorial";
    margin-left: 10px;
    padding: 7px;
    border-radius: 20px;
    color: white;
    background-color: #45abea;
    }
  
  
    .goals::after{
    content:"Q1 Goals";
    margin-left: 10px;
    padding: 7px;
    border-radius: 20px;
    color: white;
    background-color: #9c72e4;
    }

    .recruiting::after{
    content:"Recruiting";
    margin-left: 10px;
    padding: 7px;
    border-radius: 20px;
    color: white;
    background-color: #64c0a9;
    }

    .mobile::after{
    content:"Mobile";
    margin-left: 10px;
    padding: 7px;
    border-radius: 20px;
    color: white;
    background-color: #f29e33;
    }

    .none::after{
    content:"none";
    margin-left: 10px;
    padding: 7px;
    border-radius: 20px;
    color: white;
    background-color: #45abea;
    }
    .website::after{
    content:"Website";
    margin-left: 10px;
    padding: 7px;
    border-radius: 20px;
    color: white;
    background-color: #d863a1;
    }
    .sales::after{
    content:"Sales";
    margin-left: 10px;
    padding: 7px;
    border-radius: 20px;
    color: white;
    background-color: #b0c926;
    }